html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    /* 16 16 makes the "clicking point" the exact middle of your 32x32 heart */
    cursor: url('./images/pointer.png') 16 16, auto;
    background-color: #111;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

/* Overlay Styling */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease;
}

#startButton {
    background-color: rgb(139, 0, 204);
    border: 2px solid rgb(139, 0, 204);
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#startButton:hover {
    transform: scale(1.1);
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: rgb(139, 0, 204);
    border: 2px solid rgb(139, 0, 204);
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); 
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#valentinesButton:hover {
    background-color: rgb(139, 0, 204);
    color: #eee;
}